<p><a href= '@Url.Action("Index", "Home")'> <input type = "button" value = "Volver al Menú"></a></p>
<h1>Ahorcado</h1>
<form action='@Url.Action("ArriesgarLetra", "Home")' method="POST" enctype="multipart/form-data">
<p><input type= "text" name= "caracter" placeholder= "Ingrese una letra">
<input type= "submit" value= ">"></p>
</form> 
<form action='@Url.Action("ArriesgarPalabra", "Home")' method="POST" enctype="multipart/form-data">
<p><input type= "text" name= "texto" placeholder= "Ingrese una palabra"> <input type= "submit" value= ">"></p>    
<h1>
</h1>
</form> 
<div>
@foreach(char letra in ViewBag.palabraFinal)
{
    <h1 style="display: inline; margin-right:5px;">@letra.ToString().ToUpper()</h1>
}
</div>
<br><br>
<div>
@foreach(char letra in ViewBag.arriesgadas)
{
    <h1 style="display: inline; margin-right:5px;">@letra.ToString().ToUpper() -</h1>
}
</div>
<h2><pre>@ViewBag.dibujo</pre></h2> <!-- ChatGPT -->
